body{
    margin:0;
    font-family:Georgia, serif;
    background:#D3BC8D;
}

header{
    background:#2d241c;
    color: white;
    text-align: center;
    padding:20px;
}

.hero{
    text-align: center;
    padding:100px 20px;
}

.hero h2{
    font-size:48px;
}

button{
    background:#8b6f47;
    color: white;
    border: none;
    padding:12px 24px;
    font-size:16px;
    cursor: pointer;
}

.products{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}

.card{
    width:250px;
    background:white;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

.card img{
    width:100%;
    border-radius:10px;
}
@media (max-width:768px){

.products{
    flex-direction:column;
    align-items:center;
}

.hero h2{
    font-size:32px;
}

}
